<div class="container">
  <div class="text-center mt-5 mb-5">
    <h1><strong>Welcome to Beach Me</strong></h1>
    <%= link_to "Insert Product", new_product_path, class: "btn btn-primary" if current_user 
  </div>

  <div class="row">

    <% @products.each do |product| %>
      <div class="col-4">
        <%= link_to product, class: "text-decoration-none" do %>
          <div class="card mb-4">
            <%= image_tag "guarda-sol.jpg", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= "#{product.description[0..100]}..." %></p>
              <p class="card-text text-end"><%= number_to_currency(product.price, unit: "R$ ", separator: ",", delimiter: "") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
