<div class="container">
      <div class="wrapper">
          <h1 class="mt-5 mb-5 typing-demo text-center"><strong>My Rented Products</strong></h1>
      </div>
  <div class="row">


      <% @rents.each do |rent| %>
        <div class="col-4">
          <%= link_to rent.product, class: "text-decoration-none" do %>
            <div class="card ms-5 mb-5"  style="width: 18rem;">
              <%= image_tag "cadeira.jpg", class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><strong><%= rent.product.name %></strong></h5>
                <p class="card-text"><%= "#{rent.product.description[0..100]}..." %></p>
                <p>Rent Date: <%= rent.rent_date.strftime("%a, %d %b., %Y") %></p>
                <p>Return Date: <%= rent.return_date.strftime("%a, %d %b., %Y") %></p>
                <p class="card-text text-end"><%= number_to_currency(rent.product.price, unit: "R$ ", separator: ",", delimiter: "") %></p>

              </div>
            </div>
          <% end %>
        </div>
      <% end %>

  </div>
</div>
