<h1>Show Product</h1>

<p>Name: <%= @product.name %></p>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price %></p>

<div>
<%= link_to "Edit Your Product", edit_product_path, class: "btn btn-primary" %>
<%= link_to "Delete This Product", @product, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" } %>
<%= link_to "Back to Products", products_path, class: "btn btn-primary" %>
<% if @product.rents.count.zero? %>
  <%= simple_form_for [@product, @rent] do |f| %>
    <%= f.submit "Rent", class: "btn btn-primary"%>
  <% end %>
<% else %>
  <h2>Product Unavailable</h2>
<% end %>
</div>
