<!DOCTYPE html>
<html>
  <head>
    <title>BeachMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('beachlogo.png') %>

    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <%= render "shared/navbar" %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
